<div class="split left">
  <div class="centered">
    <div class="welcome-message">
      <h1>Welcome To Project Management System</h1>
    </div>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <div class="row">
      <div class="login-container">
        <div class="card">
          <div class="card-header">
            <h2 class="customLabel">Login</h2>
          </div>

          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
              <input placeholder="Email"
                type="email"
                formControlName="email"
                [ngClass]="{
                  'invalid-email':
                    loginForm.get('email')?.invalid &&
                    loginForm.get('email')?.touched
                }"
                required
              />
              <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="error-message">
                Email is required
              </div>
              
              <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="error-message">
                Invalid email format
              </div>

              <input placeholder="Password" type="password" formControlName="password" required />

              <button type="submit" [disabled]="loginForm.invalid">
                Login
              </button>
            </form>

            <p>
              Don't have an account? <a routerLink="/signup">Register here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
