<div class="split left">
  <div class="centered">
    <div class="welcome-message">
      <h1>Welcome To Project Management System</h1>
    </div>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <div class="row">
      <div class="signup-container">
        <div class="card">
          <div class="card-header">
            <h2 class="customLabel">SIGN UP</h2>
          </div>

          <div class="card-body">
            <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
              <label for="fullName"
                >Full Name<span class="required-field">*</span></label
              >
              <input
                id="fullName"
                placeholder="Full Name"
                type="text"
                formControlName="fullName"
                required
              />
              <div
                *ngIf="
                  signupForm.get('fullName')?.hasError('required') &&
                  signupForm.get('fullName')?.touched
                "
                class="error-message"
              >
                Full Name is required
              </div>
              <label for="email"
                >Email<span class="required-field">*</span></label
              >
              <input
                id="email"
                placeholder="Email"
                type="email"
                formControlName="email"
                [ngClass]="{
                  'invalid-email':
                    signupForm.get('email')?.invalid &&
                    signupForm.get('email')?.touched
                }"
                required
              />

              <div
                *ngIf="
                  signupForm.get('email')?.hasError('required') &&
                  signupForm.get('email')?.touched
                "
                class="error-message"
              >
                Email is required
              </div>

              <div
                *ngIf="
                  signupForm.get('email')?.hasError('email') &&
                  signupForm.get('email')?.touched
                "
                class="error-message"
              >
                Invalid email format
              </div>

              <label for="password"
                >Password<span class="required-field">*</span></label
              >
              <input
                id="password"
                placeholder="Password"
                type="password"
                formControlName="password"
                required
              />

              <div
                *ngIf="
                  signupForm.get('password')?.hasError('required') &&
                  signupForm.get('password')?.touched
                "
                class="error-message"
              >
                Password is required
              </div>

              <div
                *ngIf="
                  signupForm.get('password')?.hasError('pattern') &&
                  signupForm.get('password')?.touched
                "
                class="error-message"
              >
                Password must be at least 6 characters long and include at least
                1 special character and 1 number.
              </div>

              <label for="confirmPassword"
                >Confirm Password<span class="required-field">*</span></label
              >
              <input
                id="confirmPassword"
                placeholder="Confirm Password"
                type="password"
                formControlName="confirmPassword"
                [ngClass]="{
                  'invalid-password':
                    signupForm.get('confirmPassword')?.invalid &&
                    signupForm.get('confirmPassword')?.touched
                }"
                required
              />

              <div
                *ngIf="
                  signupForm.get('confirmPassword')?.hasError('required') &&
                  signupForm.get('confirmPassword')?.touched
                "
                class="error-message"
              >
                Confirm Password is required
              </div>

              <div
                *ngIf="
                  signupForm.hasError('passwordMismatch') &&
                  signupForm.get('confirmPassword')?.touched
                "
                class="error-message"
              >
                Passwords do not match
              </div>

              <button type="submit" [disabled]="signupForm.invalid">
                Sign Up
              </button>
            </form>

            <p>
              Already have an account? <a routerLink="/login">Login here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
